# datasets
solutions/lab*/data/

# output
solutions/lab*/output/*
!solutions/lab*/output/.gitkeep

# python
.venv/
__pycache__/
.mypy_cache/
.ruff_cache/

# jupyter
.ipynb_checkpoints/

# pretrained, not ours
solutions/lab*/v*/kaggle/release/**/yolo*n.pt
solutions/lab*/v*/kaggle/release/**/*.log

# misc
.DS_Store

# secrets
**/.env
**/.env.*

# personal
solutions/lab*/speech.md
solutions/lab*/correctness.md
