# datasets
solutions/lab*/data/

# inference io
solutions/lab*/output/*
!solutions/lab*/output/.gitkeep

# python
.venv/
__pycache__/
.mypy_cache/
.ruff_cache/

# jupyter
.ipynb_checkpoints/

# kaggle artifacts that auto-regenerate
solutions/lab*/v*/kaggle/release/**/yolo*n.pt
solutions/lab*/v*/kaggle/release/**/*.log

# etc
.DS_Store

# secrets
**/.env
**/.env.*

# черновики / личное (не для коммита)
solutions/lab*/speech.md
solutions/lab*/correctness.md
