# core
torch>=2.3
torchvision>=0.18
numpy>=1.26
pandas>=2.2
matplotlib>=3.8
Pillow>=10.0
tqdm>=4.66

# lab1
scikit-learn>=1.4

# lab2 + lab3
ultralytics>=8.3
opencv-python>=4.10
pyyaml>=6.0
kagglehub>=0.3

# lab4
scipy>=1.13
torchmetrics>=1.4

# lab5
diffusers>=0.30
peft>=0.13
transformers>=4.40
safetensors>=0.4
accelerate>=0.30
huggingface_hub>=0.23
